body {
    margin: 10px 10px 10px 100px ;
    padding: 0;
    background-image: url("ga.jpeg") ;
}
#div{ 
    width: 1366px;
}

#naglowek {
    width:1366px;
    height:150px;
    background-color:rgba(255, 0, 0, 0.774);
    color:white;
    font-size: 70pt;

}
#kocha{

    float: left;
    height: 150px;
    width: 160px;
    
    
    }
#menu{
    width: 300px;
    height: 528px;
    float: left;
    overflow: hidden;
    background-color: rgb(139, 0, 0);
    color:silver;
    font-size: 30pt;
    text-align: center;
}
#tresc {
    background-color: rgba(0,0 ,0,0.5 );
    width: 1066px;
    height: 528px;
    overflow: hidden;
     float: left;
     color:silver;
      font-size: 30pt;
     
}
#stopka {
    clear: both;
    background-color: rgb(128, 0, 0);
    width: 1366px;
    height: 80px;
    text-align: center;
    color: silver;
     font-size: 50pt;

}
a:visited{
    color: skyblue; }
#g{

float: right;
height: 300px;
width: 500px;
}